body {
    background-color: #121212;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header-container h1 {
    color: whitesmoke;
    font-size: 100px;
    font-family: 'Fuzzy Bubbles', cursive;
}

.board-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-container {
    position: fixed;
    left: 0;
}

.card {
    background-color: whitesmoke;
    color: black;
    opacity: 0.5;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

#X {
    opacity: 1;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 450px;
    height: 450px;
}

.cell {
    display: flex;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
    font-size: 100px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    padding-top: 20px;
}

.resetBtn {
    position: fixed;
    bottom: 50px;
    right: 30px;
    border: none;
    border-radius: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 50px;
    opacity: 0.5;
}

.resetBtn:hover {
    opacity: 1;
}